{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react", "jest"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "no-nested-ternary": "warn",
    "no-restricted-syntax": "warn",
    "no-fallthrough": "warn",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/alt-text": "warn",
    "import/first": 1,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-plusplus":"off",
    "no-return-await": 0,
    "no-shadow": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [0],
    "no-class-assign": 0,
    "import/no-unresolved" : "off",
    "import/extensions": "off",
    "import/prefer-default-export": "warn",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "max-len": [1, {"code": 200}], /*airbnb default maxlength causes problems with my ide*/
    "no-underscore-dangle": 0,
    "react/jsx-space-before-closing" : "off",
    "react/jsx-tag-spacing" : "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-indent": ["warn", 4],
    "react/jsx-indent-props": ["warn", 2],
    "indent" : ["warn", 4, { "ignoredNodes": ["JSXElement *"] }],
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "camelcase": [1, {"properties": "always"}],
    "comma-dangle": "off",
    "comma-spacing": [1, {"before": false, "after": true}],
    "object-curly-newline": "off",
    "object-curly-spacing": "off",
    "array-bracket-spacing":[1, "never"],
    "no-param-reassign": [1, { "props": true }],
    "key-spacing": [1, { "afterColon": true, "beforeColon": false }],
    "no-unused-vars": 1,
    "jsx-a11y/click-events-have-key-events": "warn",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "func-names": "off",
    "keyword-spacing": "warn",
    "prefer-const": "warn",
    "padded-blocks": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-array-index-key": "warn",
    "react/sort-comp": 0,
    "prefer-template": "warn",
    "space-infix-ops": "warn",
    "radix": 0,
    "no-return-assign": 0,
    "eol-last":0,
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-multi-assign": 0,
    "quotes": [1,"single"],
    "semi": [ 1,"always" ],
    "default-case": "warn"
  }
}