{
  "extends": ["prettier"],
  "plugins": ["prettier", "react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-cond-assign": 0,
    "strict": ["warn", "never"],
    "no-shadow": 0,
    "no-class-assign": 0,
    "max-len": [0, {"code": 200}], /*airbnb default maxlength causes problems with my ide*/
    "no-underscore-dangle": 0,
    "comma-dangle" : ["warn", "always"],
    "indent": ["warn",4, {"SwitchCase": 1}],
    "camelcase": ["warn", {"properties": "always"}],
    "comma-spacing": ["warn", {"after": true}],
    "array-bracket-spacing":["warn", "always"],
    "no-param-reassign": [0],
    "key-spacing": ["warn", { "afterColon": true, "beforeColon": false}],
    "no-unused-vars": "warn",
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "eol-last": 0,
    "no-extra-semi": "warn",
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "no-plusplus": 0,
    "object-curly-spacing": ["warn", "always"],
    "space-infix-ops": [0, "never"],
    "func-names": [0, "never"],
    "keyword-spacing": ["warn"],
    "brace-style": ["warn"],
    "arrow-body-style": ["warn"],
    "no-empty" : ["warn"],
    "spaced-comment": ["warn"],
    "arrow-parens": [0],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1 }],
    "consistent-return": "warn",
    "quotes": ["warn","single"],
    "class-methods-use-this": "warn",
    "no-useless-return": 0,
    "semi": ["warn", "always"],
    "object-shorthand": "warn",
    "array-callback-return": "warn",
    "radix": 0,
    "object-property-newline": "off",
    "prefer-arrow-callback": "off",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "guard-for-in": "off",
    "valid-typeof": "off",
    "prefer-template": "off"
  }
}
